<!-- Footer Start -->
<div
  class="container-fluid bg-secondary text-white pt-5 px-sm-3 px-md-5"
  style="margin-top: 90px"
>
  <div class="row mt-5">
    <div class="col-lg-4">
      <div
        class="d-flex justify-content-lg-center p-4"
        style="background: rgba(256, 256, 256, 0.05)"
      >
        <i class="fa fa-2x fa-map-marker-alt text-primary"></i>
        <div class="ml-3">
          <h5 class="text-white">Ubicanos:</h5>
          <p class="m-0" id="replaceAddress">Av. 123, Ciudad de Mexico, Mexico</p>
        </div>
      </div>
    </div>
    <div class="col-lg-4">
      <div
        class="d-flex justify-content-lg-center p-4"
        style="background: rgba(256, 256, 256, 0.05)"
      >
        <i class="fa fa-2x fa-envelope-open text-primary"></i>
        <div class="ml-3">
          <h5 class="text-white">Contactanos</h5>
          <p class="m-0" id="replaceEmailFooter">mi-tienda@gmail.com</p>
        </div>
      </div>
    </div>
    <div class="col-lg-4">
      <div
        class="d-flex justify-content-lg-center p-4"
        style="background: rgba(256, 256, 256, 0.05)"
      >
        <i class="fa fa-2x fa-phone-alt text-primary"></i>
        <div class="ml-3">
          <h5 class="text-white">Llamanos</h5>
          <p class="m-0" id="replacePhoneFooter">+52 123 456 7890</p>
        </div>
      </div>
    </div>
  </div>
  <div class="row pt-5">
    <div class="col-lg-4 mr-3 ml-3 col-md-6 mb-5">
      <a href="index.html" class="navbar-brand">
        <h1 class="m-0 mt-n2 display-4 text-primary text-uppercase" id="replaceCompanyNameFooter">
          Mi tienda
        </h1>
      </a>
      <p id="replaceDescription">
        Ofrecemos follaje artificial premium para interiores y exteriores, con alta densidad, textura realista y cero mantenimiento.
      </p>
      <div class="d-flex justify-content-start mt-4">
        <a class="btn btn-lg btn-outline-light btn-lg-square mr-2" href="#"
          ><i class="fab fa-twitter"></i
        ></a>
        <a class="btn btn-lg btn-outline-light btn-lg-square mr-2" href="#"
          ><i class="fab fa-facebook-f"></i
        ></a>
        <a class="btn btn-lg btn-outline-light btn-lg-square mr-2" href="#"
          ><i class="fab fa-linkedin-in"></i
        ></a>
        <a class="btn btn-lg btn-outline-light btn-lg-square" href="#"
          ><i class="fab fa-instagram"></i
        ></a>
      </div>
    </div>
    <div class="col-lg-3 mb-5">
      <h4 class="font-weight-semi-bold text-primary mb-4">Enlaces</h4>
      <div class="d-flex flex-column justify-content-start">
        <a class="text-white mb-2" href="index.html"
          ><i class="fa fa-angle-right mr-2"></i>Inicio</a
        >
        <a class="text-white mb-2" href="about.html"
          ><i class="fa fa-angle-right mr-2"></i>Nosotros</a
        >
        <a class="text-white mb-2" href="service.html"
          ><i class="fa fa-angle-right mr-2"></i>Productos</a
        >
        <a class="text-white mb-2" href="contact.html"
          ><i class="fa fa-angle-right mr-2"></i>Contacto</a
        >
      </div>
    </div>
  </div>
  <div
    class="row p-4 mt-5 mx-0"
    style="background: rgba(256, 256, 256, 0.05)"
  >
    <div class="col-md-6 text-center text-md-left mb-3 mb-md-0">
      <p class="m-0 text-white">
        &copy; <a class="font-weight-bold" href="#" id="replaceCopyright">Mi tienda</a>.
        Todos los derechos reservados.
      </p>
    </div>
  </div>
</div>
<!-- Footer End -->

<!-- Back to Top -->
<a href="#" class="btn btn-primary px-3 back-to-top"
  ><i class="fa fa-angle-double-up"></i
></a>

